<% provide :title, t(".title1") %>
<%= link_to "English", locale: "en" %>
<%= link_to "Vietnamese", locale: "vi" %>
<h2> <%= t ".hello" %> </h2>
<p>
  <%= t ".word" %>
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  <%= t ".word1" %>
</p>
