<% provide :title, t(".title") %>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <% if @feed_items.any? %>
      <ol class="microposts">
        <%= render @feed_items %>
      </ol>
      <%= paginate @feed_items %>
    <% end %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t".word" %></h1>

    <h2>
      <%= t".word_url",
      link1: link_to(t(".link_rails") , t(".url")) %>
    </h2>
    <%= link_to image_tag( t(".kitten"), alt: t(".alt") ),"" %>
    <%= link_to t(".link_login_out"), "#", class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag( t(".rails") , alt: t(".alt")), t(".url") %>
<% end %>
